
/* Style untuk konten utama */
main div img {
    width: 140px;
    height: 180px;
    border-radius: 10px;
}

td{
    padding: 0px 0px 4px 30px;
}

.garis{
    width: 900px;
    padding: 7px;
    border-bottom: 1px solid rgb(65, 65, 65);
}

table{
    padding-top: 10px;
}