.bayar{
    width: 180px;
    text-align: center;
    padding: 7px 0 7px 0;
}
.data_pembayaran{
    padding: 0  20px 10px 15px;
}
table{
    padding-top: 20px;
}
th{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
tr td a {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    nav {
        width: 0;
    }

    header, main {
        padding: 20px;
    }

    .navigation-open, .navigation-close{
        display: block;
    }
  }