.info{
    border-radius: 10px;
    border: 1px solid rgba(72, 103, 183, 0.80);
    background: rgba(72, 103, 183, 0.15);
    height: 80px;
    flex-shrink: 0; 
    color: #4867B7; 
    font-size: 15px;
}